@{
    ViewData["Title"] = "Home Page";
}

@using SBA.MvcUI.Models.CustomViewModels.Home
@model FunctionalProcessTriggerViewModel 

<div class="row">
    <form action="/Home/GenerateFromSerials" autocomplete="off" method="post">
        <div class="col-sm-12 col-md-12 mb-2 mt-2">
            <div class="form-group">
                <label for="serialTextArea" class="form-label"><b>Serials</b></label>
                <textarea class="form-control" id="serialTextArea" name="serials" rows="5">Burani Sil ve Serialari yapistir...</textarea>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <button type="submit" class="btn btn-lg btn-warning">GENERATE</button>
        </div>
    </form>

</div>

<div class="row">
    <div class="col-sm-12 col-md-12 mb-3 mt-3">
        <h5>Functional Operations</h5>
        <div class="functional-button">
            <label for="beforeMonths">Calculation From Date:</label>
            <input type="number" id="beforeMonthsStandart" class="form-control" min="0" name="howManyBeforeMonthsStandart" placeholder="write before month count..." value="@(Model.BeforeDateCount)" /><br />
            <button id="standartAnalyserTrigger" class="btn btn-info mt-1 mb-1">Start Standart Analyser</button>
        </div>
        <hr />
        <div class="functional-button">
            <label for="beforeMonths">Calculation From Date:</label>
            <input type="number" id="beforeMonthsHigh" class="form-control" min="0" name="howManyBeforeMonthsHigh" placeholder="write before month count..." value="@(Model.BeforeDateCount)" /><br />
            <button id="highAnalyserTrigger" class="btn btn-dark mt-1 mb-1">Start High-Acceptor Analyser</button>
        </div>
    </div>
</div>


@section ScriptComponent{

    <script>
        $("#standartAnalyserTrigger").click(function (e) {

            var dataModel = {
                BeforeDateCount: $("#beforeMonthsStandart").val()
            };

            $.ajax({
                method: "post",
                url: "/Home/StartStandartAnalyser",
                data: { viewModel: dataModel }
            }).done(function (data) {
                alert(data);
            }).fail(function (data) {
                console.log(data);
            });
        });

        $("#highAnalyserTrigger").click(function (e) {

            var dataModel = {
                BeforeDateCount: $("#beforeMonthsHigh").val()
            };

            $.ajax({
                method: "post",
                url: "/Home/StartHighAnalyser",
                data: { viewModel: dataModel }
            }).done(function (data) {
                alert(data);
            }).fail(function (data) {
                console.log(data);
            });
        });
    </script>

}
